name: Create Client in MijnDiAd

on:
  workflow_dispatch:
    inputs:
      dynamics_json:
        description: "Client JSON coming from Power Automate"
        required: true
        type: string

jobs:
  create-client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Create client in MijnDiAd
        run: dotnet run -- MijnDiAdClientCreator.cs -- --json '${{ inputs.dynamics_json }}'
        env:
          MIJNDIAD_TENANT: ${{ secrets.MIJNDIAD_TENANT }}
          MIJNDIAD_USERNAME: ${{ secrets.MIJNDIAD_USERNAME }}
          MIJNDIAD_PASSWORD: ${{ secrets.MIJNDIAD_PASSWORD }}
          MIJNDIAD_TOTP_SECRET: ${{ secrets.MIJNDIAD_TOTP_SECRET }}
