- name: Create Client
  run: |
    dotnet run --project MijnDiadClientCreator.csproj -- --json '${{ inputs.dynamics_json }}'
  env:
    MIJNDIAD_TENANT: ${{ secrets.MIJNDIAD_TENANT }}
    MIJNDIAD_USERNAME: ${{ secrets.MIJNDIAD_USERNAME }}
    MIJNDIAD_PASSWORD: ${{ secrets.MIJNDIAD_PASSWORD }}
    MIJNDIAD_TOTP_SECRET: ${{ secrets.MIJNDIAD_TOTP_SECRET }}
    SESSION_COOKIE: ${{ needs.login.outputs.session_cookie }}
    XSRF_TOKEN: ${{ needs.login.outputs.xsrf_token }}
