name: MijnDiad Client Creator

on:
  workflow_dispatch:
    inputs:
      client_data:
        description: 'JSON for new client'
        required: true

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Install Playwright CLI
        run: |
          dotnet tool install --global Microsoft.Playwright.CLI
          playwright install

      - name: Restore & Build
        run: |
          dotnet restore MijnDiadAutomation
          dotnet build MijnDiadAutomation --configuration Release

      - name: Run Automation
        env:
          MIJNDIAD_USERNAME: ${{ secrets.MIJNDIAD_USERNAME }}
          MIJNDIAD_PASSWORD: ${{ secrets.MIJNDIAD_PASSWORD }}
          MIJNDIAD_TOTP_SECRET: ${{ secrets.MIJNDIAD_TOTP_SECRET }}
          MIJNDIAD_TENANT: ${{ secrets.MIJNDIAD_TENANT }}
        run: |
          dotnet run --project MijnDiadAutomation -- --json '${{ github.event.inputs.client_data }}'
